.content{
  
    display: inline;
    float: left;
  
    /* background-color: #80adad; */
  }
  
  /* test start */
  .holder{
  
    height: 480px;
    
    
    /* background-color: #a7e75e; */
  
  }

  